.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: steelblue;
  /* text-shadow: 1px 1px black; */
  text-decoration: underline;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.tick {
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
}

.instruction {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: steelblue;
  display: flex;
  justify-content: center;
  left: 15%;
}

.svg {
  position: relative;
  z-index: 2;
  overflow: hidden;
  /* bottom: 600px; */
}

#root-svg {
  display: flex;
  justify-content: center;
}

.btc-image {
  position: absolute;
  top: 10%;
  left: 100px;
  z-index: -1;
  /* opacity: 0.5; */
  width: 300px;
}

body {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.full-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: steelblue;
}

.side-instructions-header {
  width: 300px;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: steelblue;
  text-decoration: underline;
  font-size: 32px;
}

.social {
  display: flex;
  margin: 5px;
}

.fa {
  margin: 15px;
}

.fa-linkedin {
  color: rgb(27, 97, 189);
}

.fa-angellist {
  color: gray;
}

.fa-github {
  color: black;
}

.a-links {
  margin-left: 10px;
  color: rgb(70, 100, 165);
}